<html dir="ltr" lang="en">
<head>

<!-- Meta Tags -->
<meta name="viewport" content="width=device-width,initial-scale=1.0"/>
<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
<meta name="description" content="" />
<meta name="keywords" content="" />
<meta name="author" content="YogIntra" />

<!-- Page Title -->
<title>Yoga Classes & Training Center In India | YogIntra</title>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-8QW4B6YQ9G"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-8QW4B6YQ9G');
</script>




  <div class="main-content">
    <!-- Section: home -->
    <section id="home" class="divider parallax layer-overlay overlay-white-8est" data-bg-img="<?php echo base_url(); ?><?php echo $page_data->page_image; ?>">
      <div class="display-table">
        <div class="display-table-cell">
          <div class="container pt-100 pb-100">
            <div class="row">
              <div class="col-md-8">
                <div class="home-content pt-90">
                  <div>
                    <img src="<?php echo base_url(); ?><?php echo $app_setting->app_sticky_logo?>" alt="image">
                  </div>
                  <h1 class="text-white text-uppercase font-54"><?php echo $page_data->page_image_title; ?></h1>
                <h5 class="text-white font-weight-400"><?php echo $page_data->page_image_description; ?></h5>
                <!-- <a class="btn btn-colored btn-theme-colored btn-flat smooth-scroll-to-target mt-15" href="#donate-now">Donate Now</a> -->
                </div>
              </div>
              <div class="col-md-4">
              
                <!-- Appointment Form Starts -->
                <form id="multi-step-form" class="booking-form form-home bg-black-333 p-30" method="post">
                  <h3 class="mt-0 text-white mb-20">Make An Appointment</h3>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-step active" id="step-1">
                        <div class="form-group">
                            <label for="name">Your Name:</label>
                            <input type="text" class="form-control" id="name" name="name" required>
                        </div>
                        <div class="form-group">
                            <label for="phone">Phone Number:  </label>
                            <input type="text" class="form-control" id="phone" name="number" required>
                        </div>
                        <div class="form-group">
                            <label for="email">Email ID:</label>
                            <input type="email" class="form-control" id="email" name="email" required>
                        </div>
                        <button class="btn btn-primary next" type="button">Next</button>
                    </div>
                    <!-- Step 2: Location -->
                    <div class="form-step" id="step-2">
                        <div class="form-group">
                            <label for="country">Select Country:</label>
                            <select class="form-control countries" id="country" name="country" required>
                                <!-- Add options for countries here -->
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="state">Select State:</label>
                            <select class="form-control states" id="state" name="state" required>
                                <option value="" >Select your Country First</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="city">Select City:</label>
                            <select class="form-control cities" id="city" name="city" required>
                                <option value="" >Select your state first</option>
                            </select>
                        </div>
                        <button class="btn btn-primary prev" type="button">Previous</button>
                        <button class="btn btn-primary next" type="button">Next</button>
                    </div>
                    <!-- Step 3: Service Information -->
                    <div class="form-step" id="step-3">
                        <div class="form-group">
                            <label for="city">Service Menu:</label>
                            <select class="form-control" id="city" name="class" required>
                              <?php 
                                $all_service = $this->db->get('service_category')->result();
                                foreach ($all_service as $key => $service):?>
                                  <option value="<?php echo $service->service_cat_name; ?>"><?php echo $service->service_cat_name; ?></option>
                                <?php endforeach; ?>
                            </select>
                        </div>
                        <div class="form-group d-none">
                            <label for="call-time">Call Request Time From:</label>
                            <input type="time" class="form-control" id="call-time" name="call-from" >
                        </div>
                        <div class="form-group d-none">
                            <label for="call-time">To:</label>
                            <input type="time" class="form-control" id="call-time-2" name="call-to" >
                        </div>
                        <div class="form-group">
                            <label for="message">Message:</label>
                            <textarea class="form-control" id="message" name="message" rows="4" required></textarea>
                        </div>
                        <button class="btn btn-primary prev" type="button">Previous</button>
                        <button type="submit" class="btn btn-success">Submit</button>
                    </div>
                    </div>
                  </div>
                </form>

              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <!-- Section: About -->
    <section>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <?php echo $page_data->page_content; ?>
          </div>
        </div>
      </div>
    </section>
 

  <script type="text/javascript">
$("#multi-step-form").submit(function(e) {
    e.preventDefault(); 
    var form = $(this);
    $.ajax({
        type: "POST",
        url: '<?php echo base_url(); ?>home/submit_contact_form',
        data: form.serialize(), // serializes the form's elements.
        success: function(data)
        {
          console.log(data);
          if(data == 1)
          {
            window.location = "<?php echo base_url(); ?>thank_you";
          }
          else
          {
            alert('Data Submitted Failed')
          }
        }
    });
    
});
function ajaxCall() {
    this.send = function(data, url, method, success, type) {
        type = 'json';
        var successRes = function(data) {
            success(data);
        }
        var errorRes = function(xhr, ajaxOptions, thrownError) {            
            console.log(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
        jQuery.ajax({
            url: url,
            type: method,
            data: data,
            success: successRes,
            error: errorRes,
            dataType: type,
            timeout: 60000
        });
    }
}

function locationInfo() {
    var rootUrl = "https://geodata.phplift.net/api/index.php";
    var call = new ajaxCall();
    this.getCities = function(id) {
        jQuery(".cities option:gt(0)").remove();
        var url = rootUrl+'?type=getCities&countryId='+ '&stateId=' + id;
        var method = "post";
        var data = {};
        jQuery('.cities').find("option:eq(0)").html("Please wait..");
        call.send(data, url, method, function(data) {
            jQuery('.cities').find("option:eq(0)").html("Select City");
                var listlen = Object.keys(data['result']).length;
                if(listlen > 0)
                {
                    jQuery.each(data['result'], function(key, val) {
                        // var option = jQuery('');
                        var option = `<option value='${val.name}'>${val.name}</option>`;

                        // option.attr('value', val.name).text(val.name);
                        jQuery('.cities').append(option);
                    });
                }
                jQuery(".cities").prop("disabled",false);
        });
    };

    this.getStates = function(id = 101) {
        jQuery(".states option:gt(0)").remove();
        jQuery(".cities option:gt(0)").remove();
        var stateClasses = jQuery('#stateId').attr('class');

        
        var url = rootUrl+'?type=getStates&countryId=' + id;
        var method = "post";
        var data = {};
        jQuery('.states').find("option:eq(0)").html("Please wait..");
        call.send(data, url, method, function(data) {
            jQuery('.states').find("option:eq(0)").html("Select State");
            
                jQuery.each(data['result'], function(key, val) {
                    // var option = jQuery('');
                    var option = `<option value='${val.name}' stateid='${val.id}'>${val.name}</option>`;
                    // option.attr('value', val.name).text(val.name);
                    // option.attr('stateid', val.id);
                    jQuery('.states').append(option);
                });
                jQuery(".states").prop("disabled",false);
            
        });
    };

    this.getCountries = function() {
        var url = rootUrl+'?type=getCountries';
        var method = "post";
        var data = {};
        jQuery('.countries').find("option:eq(0)").html("Please wait..");
        
        var defaultCountryName = 'India';
        
        call.send(data, url, method, function(data) {
        jQuery('.countries').find("option:eq(0)").html("Select Country");
    
            jQuery.each(data['result'], function(key, val) {
                var option = `<option value='${val.name}' countryid='${val.id}'>${val.name}</option>`;
    
                // Check if the current option is the default country
                if (val.name === defaultCountryName) {
                    option = `<option value='${val.name}' countryid='${val.id}' selected>${val.name}</option>`;
                }
    
                jQuery('.countries').append(option);
            });
        });
    };

}

jQuery(function() {
    var loc = new locationInfo();
    loc.getCountries();
    loc.getStates();
    jQuery(".countries").on("change", function(ev) {
        var countryId = jQuery("option:selected", this).attr('countryid');
        if(countryId != ''){
            loc.getStates(countryId);
        }
        else{
            jQuery(".states option:gt(0)").remove();
        }
    });
    jQuery(".states").on("change", function(ev) {
        var stateId = jQuery("option:selected", this).attr('stateid');
        if(stateId != ''){
            loc.getCities(stateId);
        }
        else{
            jQuery(".cities option:gt(0)").remove();
        }
    });
});

$(document).ready(function () {

    var currentStep = 1;

    $(".next").click(function () {
        if (validateStep(currentStep)) {
            $("#step-" + currentStep).removeClass("active");
            currentStep++;
            $("#step-" + currentStep).addClass("active");
        }
    });

    $(".prev").click(function () {
        $("#step-" + currentStep).removeClass("active");
        currentStep--;
        $("#step-" + currentStep).addClass("active");
    });

    function validateStep(step) {
        var isValid = true;

        // Reset previous error messages and styles
        $(".form-group").removeClass("has-error");
        $(".error-message").remove();

        if (step === 1) {
            // Step 1 Validation
            var name = $("#name").val();
            var phone = $("#phone").val();
            var email = $("#email").val();

            if (!name) {
                isValid = false;
                $("#name").closest(".form-group").addClass("has-error");
                $("#name").after('<div class="error-message">Please enter your name.</div>');
            }
            if (!phone) {
                isValid = false;
                $("#phone").closest(".form-group").addClass("has-error");
                $("#phone").after('<div class="error-message">Please enter your phone number.</div>');
            }
            if (!email) {
                isValid = false;
                $("#email").closest(".form-group").addClass("has-error");
                $("#email").after('<div class="error-message">Please enter your email address.</div>');
            }
        } else if (step === 2) {
            // Step 2 Validation
            var country = $("#country").val();
            var state = $("#state").val();
            var city = $("#city").val();

            if (!country) {
                isValid = false;
                $("#country").closest(".form-group").addClass("has-error");
                $("#country").after('<div class="error-message">Please select your country.</div>');
            }
            if (!state) {
                isValid = false;
                $("#state").closest(".form-group").addClass("has-error");
                $("#state").after('<div class="error-message">Please select your state.</div>');
            }
            if (!city) {
                isValid = false;
                $("#city").closest(".form-group").addClass("has-error");
                $("#city").after('<div class="error-message">Please select your city.</div>');
            }
        } else if (step === 3) {
            // Step 3 Validation
            var callTime = $("#call-time").val();
            var callTime_2 = $("#call-time-2").val();
            var message = $("#message").val();

            // if (!callTime) {
            //     isValid = false;
            //     $("#call-time").closest(".form-group").addClass("has-error");
            //     $("#call-time").after('<div class="error-message">Please enter your call request time.</div>');
            // }
            // if (!callTime_2) {
            //     isValid = false;
            //     $("#call-time-2").closest(".form-group").addClass("has-error");
            //     $("#call-time-2").after('<div class="error-message">Please enter your call To time.</div>');
            // }
            if (!message) {
                isValid = false;
                $("#message").closest(".form-group").addClass("has-error");
                $("#message").after('<div class="error-message">Please enter a message.</div>');
            }
        }
        return isValid;
    }
});
</script>
<style>
    .form-step {
        display: none;
    }
    .form-step.active {
        display: block;
    }
    .bg-black-333 {
        background-color: #01AEB7 !important;
      }
      .form-group label, .error-message
      {
        color: #fff;
      }
</style>